@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat), 'Montserrat', sans-serif;
}

body {
  background-color: #e8f5f4;
  color: #171717;
  font-family: var(--font-montserrat), 'Montserrat', sans-serif;
}
